<?xml version="1.0" encoding="UTF-8"?>

<web-app>

  <listener>
    <listener-class>aces.webctrl.cli.core.Initializer</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>aces.webctrl.cli.web.MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>WEB</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
  </security-constraint>

</web-app>